@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e9ebee;
  transition: background-color 3s ease;
}

.body-background-black {
  background-color: #000;
}

.body-background-image {
  /* Backup */
  /* background: url("/img/space.gif") no-repeat center center fixed;  */
  background: url("https://media.giphy.com/media/tL5HmgfZi0Qow/giphy.gif")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .container {
  display: flex;
  flex-direction: column;
}

#header {
  z-index: 100;
  background-color: #4868ad7f;
  text-align: center;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  transition: opacity 1s ease;
}

.header-off {
  opacity: 0;
}

#contents {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

#footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #92959c;
}

.action-button {
  position: absolute;
  top: 100px;
  display: block;
  width: 350px;
  height: 150px;
  margin: 0 auto;
  font-size: 70px;
  font-weight: bold;
  outline-style: none;
  background-color: #eaa11577;
  color: #fff;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease,
    -webkit-box-shadow 0.5s ease, -moz-box-shadow 0.5s ease, top 0.5s ease;
}

.action-button:hover {
  background-color: #eaa115ff;
  -webkit-box-shadow: 0px 10px 10px -5px #777;
  -moz-box-shadow: 0px 10px 10px -5px #777;
  box-shadow: 0px 10px 10px -5px #777;
}

.action-button:active {
  top: 105px;
  -webkit-box-shadow: 0px 5px 10px -5px #777;
  -moz-box-shadow: 0px 5px 10px -5px #777;
  box-shadow: 0px 5px 10px -5px #777;
}

#lines {
  position: absolute;
  top: 0;
  margin-top: -100px;
  margin-left: -10px;
}

.line {
  animation: line-ani 10s linear infinite;
}

@keyframes line-ani {
  to {
    stroke-dashoffset: 10000;
  }
}

.sort-chart {
  display: block;
  height: 350px;
  width: 770px;
}
